src/main/resources/META-INF/book/BookService.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<wsdl:definitions name="BookService"
                  xmlns:tns="http://sample.antons.sk/book/1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://sample.antons.sk/book/1.0">

    <wsdl:types>
        <xsd:schema targetNamespace="http://sample.antons.sk/book/1.0" elementFormDefault="qualified">
            <xsd:include schemaLocation="./book.xsd"/>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="updateAuthorRequest">
        <wsdl:part name="parameters" element="tns:updateAuthorRequest"/>
    </wsdl:message>
    <wsdl:message name="updateBookRequest">
        <wsdl:part name="parameters" element="tns:updateBookRequest"/>
    </wsdl:message>
    <wsdl:message name="updateResponse">
        <wsdl:part name="parameters" element="tns:updateResponse"/>
    </wsdl:message>


    <wsdl:portType name="BookService">
        
        <wsdl:operation name="updateBook">
            <wsdl:input message="tns:updateBookRequest"/>
            <wsdl:output message="tns:updateResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="updateAuthor">
            <wsdl:input message="tns:updateAuthorRequest"/>
            <wsdl:output message="tns:updateResponse"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding
        name="BookServiceServiceSoapBinding"
        type="tns:BookService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="updateBook">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateBookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateBookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="updateAuthor">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateAuthorRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateAuthorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="BookService">
        <wsdl:port
            binding="tns:BookServiceServiceSoapBinding"
            name="BookServicePort">
            <soap:address location="http://localhost:8080/ws/book"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
